<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- load properies file into config -->
    <context:property-placeholder location="classpath*:sport.properties"></context:property-placeholder>


    <bean id="fortuneService"
          class="springIoc.demo.FortuneServiceImpl"></bean>

    <bean id="myCoach"
          class="springIoc.demo.BaseBallCoach">
        <!-- This is constructor injection-->
        <constructor-arg ref="fortuneService"></constructor-arg>

    </bean>

    <bean id="myLoggerConfig" class="springIoc.demo.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE" />
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>
    <bean id="footballCoach" class="springIoc.demo.FootBall">
      <!-- This is setter injection-->
        <property name="fortuneService" ref="fortuneService"></property>

        <!--Inject values directly-->
<!--        <property name="name" value="Rayan"></property>-->
<!--        <property name="email" value="rayan.bamari@gmail.com"/>-->
        <!-- Inject values from file-->
        <property name="name" value="${foo.name}"></property>
        <property name="email" value="${foo.email}"></property>


    </bean>

    <bean id="trackCoach" class="springIoc.demo.TrackBallCoach">

        <constructor-arg ref="newFortuneService"/>

    </bean>
    <bean id="newFortuneService" class="springIoc.demo.newFortuneServiceImple"></bean>



</beans>





